@import 'src/assets/styles/main';

.list-user {
  .container-btn {
    display: block;
    text-align: right;

    .btn-new-user {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      border-radius: 6px;
      border: 1px solid #2f23d6;
      background: #2f23d6;
      font-size: 14px;
      height: 38px;
      line-height: 36px;
      min-width: 140px;
      padding: 0 10px;
    }
  }
}

.container-user {
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    display: block;
    color: #504a6c;
  }

  .container-btn-bottom {
    display: block;
    text-align: right;

    .btn-transparent {
      background: transparent;
      border: 1px solid #2f23d6;
      color: #2f23d6;
      height: 38px;
      font-size: 14px;
      min-width: 120px;
      cursor: pointer;
      border-radius: 8px;
      display: inline-block;
      margin-right: 14px;
      font-weight: 500;
    }

    #registerUser {
      max-width: 140px;
      display: inline-block;
    }
  }
}